apiVersion: v1
kind: Service
spec:
  ports:
    - name: 2181-tcp
      port: 2181
      protocol: TCP
      targetPort: 2181
  selector:
    app: computate-zookeeper
    deploymentconfig: computate-zookeeper
  sessionAffinity: None
  type: ClusterIP

