apiVersion: v1
stringData:
  jdbcUrl: "jdbc:postgresql://postgres.{{POSTGRES_NAMESPACE}}.svc:5432/{{POSTGRES_DB_NAME}}"
  jdbcUsername: "{{POSTGRES_DB_USER}}"
  jdbcPassword: "{{POSTGRES_DB_PASSWORD}}"
  jdbcDatabase: "{{POSTGRES_DB_NAME}}"
  jdbcHost: "{{POSTGRES_HOST_NAME}}"
  jdbcPort: "{{POSTGRES_PORT}}"
  authRealm: "{{AUTH_REALM}}"
  authResource: "{{AUTH_RESOURCE}}"
  authSecret: "{{AUTH_SECRET}}"
  authUrl: "{{AUTH_URL}}"
  emailHost: "{{EMAIL_HOST_NAME | default('') }}"
  emailPort: "{{EMAIL_PORT | default('') }}"
  emailAdmin: "{{EMAIL_ADMIN | default('') }}"
  emailFrom: "{{EMAIL_FROM | default('') }}"
  emailSsl: "{{EMAIL_SSL | default('') }}"
  emailAuth: "{{EMAIL_AUTH | default('') }}"
  emailUsername: "{{EMAIL_USER | default('') }}"
  emailPassword: "{{EMAIL_PASSWORD | default('') }}"
  sslKeystorePath: "{{SSL_KEYSTORE_PATH}}"
  sslJksPath: "{{SSL_JKS_PATH}}"
  sslAlias: "{{SSL_ALIAS}}"
  sslJksPassword: "{{SSL_JKS_PASSWORD}}"
  authorizeApiLoginId1: "{{AUTHORIZE_NET_API_LOGIN_ID1 | default('')}}"
  authorizeTransactionKey1: "{{AUTHORIZE_NET_TRANSACTION_KEY1 | default('')}}"
  schoolLocation1: "{{COMPUTATE_SCOLAIRE_SCHOOL_LOCATION1 | default('')}}"
  authorizeApiLoginId2: "{{AUTHORIZE_NET_API_LOGIN_ID2 | default('')}}"
  authorizeTransactionKey2: "{{AUTHORIZE_NET_TRANSACTION_KEY2 | default('')}}"
  schoolLocation2: "{{COMPUTATE_SCOLAIRE_SCHOOL_LOCATION2 | default('')}}"
  authorizeEnvironment: "{{AUTHORIZE_NET_ENVIRONMENT | default('')}}"
  authorizeUrl: "{{AUTHORIZE_NET_URL | default('')}}"
kind: Secret
type: Opaque

