appliNom = computate-scolaire

[computate-scolaire]
langueNom=frFR
appliChemin_enUS={{COMPUTATE_SCOLAIRE_SRC}}
appliChemin_frFR={{COMPUTATE_SCOLAIRE_SRC}}
nomDomaine=computate.org
nomEnsembleDomaine=org.computate.scolaire
autresLangues=enUS
suffixeSrcMainJava=/src/main/java
suffixeSrcGenJava=/src/gen/java
cheminsRelatifsARegarder=src/main/java/org/computate/scolaire/frFR
jdbcHost="{{POSTGRES_HOST_NAME}}"
jdbcPort=5432
jdbcDatabase="{{COMPUTATE_SCOLAIRE_DB_NAME_FRFR}}"
jdbcUtilisateur={{COMPUTATE_SCOLAIRE_DB_USER_FRFR}}
jdbcMotDePasse="{{COMPUTATE_SCOLAIRE_DB_PASSWORD_FRFR}}"
siteNomHote={{COMPUTATE_SCOLAIRE_SITE_HOST_NAME_FRFR}}
siteUrlBase={{COMPUTATE_SCOLAIRE_SITE_BASE_URL_FRFR}}
authRoyaume={{AUTH_REALM}}
authRessource={{AUTH_RESOURCE}}
authSecret={{AUTH_SECRET}}
authUrl={{AUTH_URL}}
authSslRequis=all
sslJksChemin={{SSL_JKS_PATH}}
sslJksMotDePasse={{SSL_JKS_PASSWORD}}
sitePort={{COMPUTATE_SCOLAIRE_SITE_PORT_FRFR}}
solrUrl=http://{{SOLR_HOST_NAME}}:{{SOLR_PORT}}/solr/{{COMPUTATE_SCOLAIRE_SOLR_COLLECTION_FRFR}}
solrUrlComputate=http://{{SOLR_HOST_NAME}}:{{SOLR_PORT}}/solr/computate
apiContactMail={{EMAIL_FROM}}
siteZone={{COMPUTATE_SCOLAIRE_SITE_ZONE}}
siteEcrireMethodes=html
siteEcrireMethodes=htmlMeta
siteEcrireMethodes=htmlScripts
siteEcrireMethodes=htmlScript
siteEcrireMethodes=htmlStyles
siteEcrireMethodes=htmlStyle
siteEcrireMethodes=htmlBody
staticBaseUrl={{COMPUTATE_SCOLAIRE_STATIC_BASE_URL}}
emailHost={{EMAIL_HOST_NAME}}
emailPort={{EMAIL_PORT}}
emailSsl={{EMAIL_SSL}}
emailAuth={{EMAIL_AUTH}}
emailUsername={{EMAIL_USER}}
emailPassword={{EMAIL_PASSWORD}}
emailFrom={{EMAIL_FROM}}
emailAdmin={{EMAIL_FROM}}
authorizeApiLoginId={{AUTHORIZE_NET_API_LOGIN_ID}}
authorizeTransactionKey={{AUTHORIZE_NET_TRANSACTION_KEY}}

