appName = computate-scolaire

[computate-scolaire]
languageName=frFR
appPath_enUS={{COMPUTATE_SCOLAIRE_SRC}}
appPath_frFR={{COMPUTATE_SCOLAIRE_SRC}}
domainName=computate.org
domainPackageName=org.computate.scolaire
otherLanguages=enUS
jdbcHost="{{POSTGRES_HOST_NAME}}"
jdbcPort=5432
jdbcDatabase="{{COMPUTATE_SCOLAIRE_DB_NAME_ENUS}}"
jdbcUsername={{COMPUTATE_SCOLAIRE_DB_USER_ENUS}}
jdbcPassword="{{COMPUTATE_SCOLAIRE_DB_PASSWORD_ENUS}}"
siteHostName={{COMPUTATE_SCOLAIRE_SITE_HOST_NAME_ENUS}}
siteBaseUrl={{COMPUTATE_SCOLAIRE_SITE_BASE_URL_ENUS}}
authRealm={{AUTH_REALM}}
authResource={{AUTH_RESOURCE}}
authSecret={{AUTH_SECRET}}
authUrl={{AUTH_URL}}
authSslRequired=all
sslJksPath={{SSL_JKS_PATH}}
sslJksPassword={{SSL_JKS_PASSWORD}}
sitePort={{COMPUTATE_SCOLAIRE_SITE_PORT_ENUS}}
solrUrl=http://{{SOLR_HOST_NAME}}:{{SOLR_PORT}}/solr/{{COMPUTATE_SCOLAIRE_SOLR_COLLECTION_ENUS}}
solrUrlComputate=http://{{SOLR_HOST_NAME}}:{{SOLR_PORT}}/solr/computate
apiContactEmail={{EMAIL_FROM}}
siteZone={{COMPUTATE_SCOLAIRE_SITE_ZONE_ENUS}}
staticBaseUrl={{COMPUTATE_SCOLAIRE_STATIC_BASE_URL}}
emailHost={{EMAIL_HOST_NAME}}
emailPort={{EMAIL_PORT}}
emailSsl={{EMAIL_SSL}}
emailAuth={{EMAIL_AUTH}}
emailUsername={{EMAIL_USER}}
emailPassword={{EMAIL_PASSWORD}}
emailFrom={{EMAIL_FROM}}
emailAdmin={{EMAIL_FROM}}

authorizeEnvironment={{AUTHORIZE_NET_ENVIRONMENT}}
authorizeUrl={{AUTHORIZE_NET_URL}}

authorizeApiLoginId1={{AUTHORIZE_NET_API_LOGIN_ID1}}
authorizeTransactionKey1={{AUTHORIZE_NET_TRANSACTION_KEY1}}
schoolLocation1={{COMPUTATE_SCOLAIRE_SCHOOL_LOCATION1}}
authorizeApiLoginId2={{AUTHORIZE_NET_API_LOGIN_ID2}}
authorizeTransactionKey2={{AUTHORIZE_NET_TRANSACTION_KEY2}}
schoolLocation2={{COMPUTATE_SCOLAIRE_SCHOOL_LOCATION2}}
