siteName = computate

[maven]
#versionMaven = 3.5.3

[zookeeper]
#versionZookeeper = 3.5.4
#prefixPortZookeeper = 102
#portClientZookeeper = 10281
#portAdminZookeeper = 10280

[solr]
#versionSolr = 7.1.0
#prefixPortSolr = 103
#portSolr = 10383
#urlSolr = http://localhost:8983/solr

[computate]
languageName=enUS
sitePath_enUS=/usr/local/src/computate
domainName=computate.org
suffixSrcMainJava=/src/main/java
suffixSrcGenJava=/src/gen/java
