apiVersion: image.openshift.io/v1
kind: ImageStream
spec:
  lookupPolicy:
    local: false
  tags:
    - annotations: null
      from:
        kind: DockerImage
        name: quay.io/computate/computate-solr
      generation: 1
      importPolicy: {}
      name: 8.4.1.5
      referencePolicy:
        type: Source

