[Unit]
Description=An open source centralized cluster manager. 
After=network.target

[Service]
Type=simple
User={{USER_NAME}}
Group={{USER_NAME}}
WorkingDirectory={{ZOOKEEPER_OPT}}
ExecStart={{ZOOKEEPER_OPT}}/bin/zkServer.sh start-foreground
Restart=on-failure

[Install]
WantedBy=multi-user.target

