---
#- name: Install Ansible Tower persistent volume on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_NAME }}"
#    host: "{{ REDHAT_ANSIBLE_TOWER_HOST }}"
#    api_key: "{{ REDHAT_ANSIBLE_TOWER_TOKEN }}"
#    namespace: "{{ REDHAT_ANSIBLE_TOWER_NAMESPACE }}"
#    definition: "{{ lookup('template', 'redhat_ansible_tower_persistent_volume.yml.j2') }}"
#- name: Install Ansible Tower persistent volume claim on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_NAME }}"
#    host: "{{ REDHAT_ANSIBLE_TOWER_HOST }}"
#    api_key: "{{ REDHAT_ANSIBLE_TOWER_TOKEN }}"
#    namespace: "{{ REDHAT_ANSIBLE_TOWER_NAMESPACE }}"
#    definition: "{{ lookup('template', 'redhat_ansible_tower_persistent_volume_claim.yml.j2') }}"
- name: Download Ansible Tower installation setup files
  get_url:
    url: "https://releases.ansible.com/ansible-tower/setup_openshift/ansible-tower-openshift-setup-{{ REDHAT_ANSIBLE_TOWER_VERSION }}.tar.gz"
    dest: "/tmp/ansible-tower-openshift-setup-{{ REDHAT_ANSIBLE_TOWER_VERSION }}.tar.gz"
- name: Install Ansible Tower setup files into the /tmp/ansible-tower-setup directory. 
  unarchive: 
    src: "/tmp/ansible-tower-openshift-setup-{{ REDHAT_ANSIBLE_TOWER_VERSION }}.tar.gz"
    dest: "/tmp"
- name: Download OpenShift oc binary
  get_url:
    url: "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ REDHAT_OPENSHIFT_VERSION }}/openshift-client-linux-{{ REDHAT_OPENSHIFT_VERSION }}.tar.gz"
    dest: "/tmp/openshift-client-linux-{{ REDHAT_OPENSHIFT_VERSION }}.tar.gz"
- name: Unarchive OpenShift oc binary
  unarchive: 
    src: "/tmp/openshift-client-linux-{{ REDHAT_OPENSHIFT_VERSION }}.tar.gz"
    dest: "/tmp"
  args:
    creates: "/tmp/oc"
- name: Copy OpenShift oc binary
  copy: 
    remote_src: true
    src: "/tmp/oc"
    dest: "/usr/local/bin/oc"
    mode: "u=rwx,g=rx,o=rx"
  become: true
- name: Update Ansible Tower inventory
  template: 
    src: redhat_ansible_tower_inventory.j2
    dest: "/tmp/ansible-tower-openshift-setup-{{ REDHAT_ANSIBLE_TOWER_VERSION }}/inventory"
#- name: Run Ansible Tower setup script
#  shell: "./setup_openshift.sh"
#  args: 
#    chdir: "/tmp/ansible-tower-openshift-setup-{{ REDHAT_ANSIBLE_TOWER_VERSION }}"


#- name: Install ansible-tower image stream on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: computate-scolaire
#    host: "{{COMPUTATE_SCOLAIRE_HOST}}"
#    api_key: "{{COMPUTATE_SCOLAIRE_TOKEN}}"
#    namespace: "{{COMPUTATE_SCOLAIRE_NAMESPACE}}"
#    definition: "{{ lookup('template', 'computate_scolaire_image_stream.yml.j2') }}"
#- name: Install computate-scolaire secret on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: computate-scolaire-secret
#    host: "{{COMPUTATE_SCOLAIRE_HOST}}"
#    api_key: "{{COMPUTATE_SCOLAIRE_TOKEN}}"
#    namespace: "{{COMPUTATE_SCOLAIRE_NAMESPACE}}"
#    definition: "{{ lookup('template', 'computate_scolaire_secret.j2') }}"
#- name: Install computate-scolaire keystore secrets on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: computate-scolaire-keystore
#    host: "{{COMPUTATE_SCOLAIRE_HOST}}"
#    api_key: "{{COMPUTATE_SCOLAIRE_TOKEN}}"
#    namespace: "{{COMPUTATE_SCOLAIRE_NAMESPACE}}"
#    definition: "{{ lookup('template', 'computate_scolaire_keystore.j2') }}"
#- name: Install computate-scolaire build config on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: computate-scolaire
#    host: "{{COMPUTATE_SCOLAIRE_HOST}}"
#    api_key: "{{COMPUTATE_SCOLAIRE_TOKEN}}"
#    namespace: "{{COMPUTATE_SCOLAIRE_NAMESPACE}}"
#    definition: "{{ lookup('template', 'computate_scolaire_build_config.yml.j2') }}"
#- name: Install computate-scolaire deployment config on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: computate-scolaire
#    host: "{{COMPUTATE_SCOLAIRE_HOST}}"
#    api_key: "{{COMPUTATE_SCOLAIRE_TOKEN}}"
#    namespace: "{{COMPUTATE_SCOLAIRE_NAMESPACE}}"
#    definition: "{{ lookup('template', 'computate_scolaire_deployment_config.yml.j2') }}"
#- name: Install computate-scolaire service on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: computate-scolaire
#    host: "{{COMPUTATE_SCOLAIRE_HOST}}"
#    api_key: "{{COMPUTATE_SCOLAIRE_TOKEN}}"
#    namespace: "{{COMPUTATE_SCOLAIRE_NAMESPACE}}"
#    definition: "{{ lookup('template', 'computate_scolaire_service.yml.j2') }}"
#- name: Install computate-scolaire route on OpenShift
#  k8s: 
#    validate_certs: false
#    state: present
#    name: computate-scolaire
#    host: "{{COMPUTATE_SCOLAIRE_HOST}}"
#    api_key: "{{COMPUTATE_SCOLAIRE_TOKEN}}"
#    namespace: "{{COMPUTATE_SCOLAIRE_NAMESPACE}}"
#    definition: "{{ lookup('template', 'computate_scolaire_route.yml.j2') }}"
#- name: Create Solr collection
#  shell: "oc login --insecure-skip-tls-verify {{COMPUTATE_SCOLAIRE_HOST}} --token={{REDHAT_OPENSHIFT_TOKEN}} && oc exec --insecure-skip-tls-verify $(oc get pod --insecure-skip-tls-verify -l app=ansible-tower -o jsonpath='{.items[0].metadata.name}') -n {{ REDHAT_OPENSHIFT_NAMESPACE }} -- /opt/solr/bin/solr create_collection -c {{ COMPUTATE_SCOLAIRE_SOLR_COLLECTION }} -n computate || true"
#  register: create_collection
#- name: Print create_collection command
#  debug:
#    var: create_collection

