apiVersion: v1
stringData:
  jdbcUrl: "jdbc:postgresql://postgres.{{POSTGRES_NAMESPACE}}.svc:5432/{{POSTGRES_DB_NAME}}"
  jdbcUsername: "{{POSTGRES_DB_USER}}"
  jdbcPassword: "{{POSTGRES_DB_PASSWORD}}"
  authRealm: "{{AUTH_REALM}}"
  authResource: "{{AUTH_RESOURCE}}"
  authSecret: "{{AUTH_SECRET}}"
  authUrl: "{{AUTH_URL}}"
  emailHost: "{{EMAIL_HOST}}"
  emailPort: "{{EMAIL_PORT}}"
  emailFrom: "{{EMAIL_FROM}}"
  emailSsl: "{{EMAIL_SSL}}"
  emailAuth: "{{EMAIL_AUTH}}"
  emailUsername: "{{EMAIL_USERNAME}}"
  emailPassword: "{{EMAIL_PASSWORD}}"
kind: Secret
type: Opaque

