apiVersion: v1
stringData:
  jdbcUrl: "jdbc:postgresql://postgres.{{POSTGRES_NAMESPACE}}.svc:5432/{{POSTGRES_DB_NAME}}"
  jdbcUsername: "{{POSTGRES_DB_USER}}"
  jdbcPassword: "{{POSTGRES_DB_PASSWORD}}"
  authRealm: "{{AUTH_REALM}}"
  authResource: "{{AUTH_RESOURCE}}"
  authSecret: "{{AUTH_SECRET}}"
  authUrl: "{{AUTH_URL}}"
  emailHost: "{{EMAIL_HOST}}"
  emailPort: "{{EMAIL_PORT}}"
  emailFrom: "{{EMAIL_FROM}}"
  emailSsl: "{{EMAIL_SSL}}"
  emailAuth: "{{EMAIL_AUTH}}"
  emailUsername: "{{EMAIL_USERNAME}}"
  emailPassword: "{{EMAIL_PASSWORD}}"
  sslKeystorePath: "{{SSL_KEYSTORE_PATH}}"
  sslJksPath: "{{SSL_JKS_PATH}}"
  sslAlias: "{{SSL_ALIAS}}"
  sslJksPassword: "{{SSL_JKS_PASSWORD}}"
  authorizeApiLoginId: "{{AUTHORIZE_API_LOGIN_ID}}"
  authorizeTransactionKey: "{{AUTHORIZE_TRANSACTION_KEY}}"
  authorizeEnvironment: "{{AUTHORIZE_ENVIRONMENT}}"
  authorizeUrl: "{{AUTHORIZE_URL}}"
kind: Secret
type: Opaque

