appliNom = computate

[maven]
#versionMaven = 3.5.3

[zookeeper]
#versionZookeeper = 3.5.4
#prefixePortZookeeper = 102
#portClientZookeeper = 10281
#portAdminZookeeper = 10280

[solr]
#versionSolr = 7.3.1
#prefixePortSolr = 103
#portSolr = 10383
#urlSolr = http://localhost:10383/solr

[computate]
langueNom=frFR
appliChemin_enUS=/usr/local/src/computate
nomDomaine=computate.org
autresLangues=enUS
suffixeSrcMainJava=/src/main/java
suffixeSrcGenJava=/src/gen/java
cheminsRelatifsARegarder=src/main/java/org/computate/frFR

