appli = computate

[maven]
VERSION_MAVEN = 3.5.3

[zookeeper]
VERSION_ZOOKEEPER = 3.5.4
PREFIXE_PORT_ZOOKEEPER = 102
#PORT_CLIENT_ZOOKEEPER = 10281
#PORT_ADMIN_ZOOKEEPER = 10280

[solr]
VERSION_SOLR = 7.3.1
PREFIXE_PORT_SOLR = 103
#PORT_SOLR = 10383
#URL_SOLR = http://localhost:10383/solr

[computate]
