apiVersion: build.openshift.io/v1
kind: BuildConfig
spec:
  failedBuildsHistoryLimit: 5
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: 'southerncoalition:latest'
  postCommit: {}
  resources:
    limits:
      memory: 1Gi
  runPolicy: Serial
  source:
    git:
      uri: 'https://github.com/Southern-Coalition-Team-19/southerncoalition.git'
    secrets:
      - destinationDir: /opt/keystore
        secret:
          name: southerncoalition-keystore
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: 'java:latest'
        namespace: openshift
    type: Source
  successfulBuildsHistoryLimit: 5
  triggers:
    - imageChange:
      type: ImageChange
    - type: ConfigChange
    - github:
        secret: gcQ4HNt-zy-siCAiiqYo
      type: GitHub
    - generic:
        secret: Ciji-tEysxafyInX9Gd7
      type: Generic

