apiVersion: v1
kind: Service
spec:
  ports:
    - port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    deploymentConfig: redhat-sso-postgres
  sessionAffinity: None
  type: ClusterIP

