apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_NAME }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_SIZE }}"
