apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_NAME }}"
spec:
  capacity:
    storage: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_SIZE }}"
{% if REDHAT_ANSIBLE_TOWER_VOLUME_AWS_TYPE is defined and REDHAT_ANSIBLE_TOWER_VOLUME_AWS_ID is defined %}
  awsElasticBlockStore:
    fsType: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_AWS_TYPE }}"
    volumeID: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_AWS_ID }}"
{% endif %}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  storageClassName: "{{ REDHAT_OPENSHIFT_STORAGE_CLASS_NAME }}"
  claimRef:
    kind: PersistentVolumeClaim
    namespace: "{{ REDHAT_ANSIBLE_TOWER_NAMESPACE }}"
    name: "{{ REDHAT_ANSIBLE_TOWER_VOLUME_NAME }}"
  volumeMode: Filesystem
