[Unit]
Description=Watch the computate app and generate Java code when the Java source files are modified. 
After=network.target

[Service]
Type=simple
User={{USER_NAME}}
Group={{USER_NAME}}
WorkingDirectory={{SOUTHERNCOALITION_SRC}}
Environment=appliNom={{SOUTHERNCOALITION_NAME}}
Environment=appliChemin={{SOUTHERNCOALITION_SRC}}
Environment=appliComputateChemin={{COMPUTATE_SRC}}
ExecStart={{COMPUTATE_SRC}}/bin/{{SOUTHERNCOALITION_LANG}}/watch.sh
LimitNOFILE=65000
LimitNPROC=65000
LimitNOFILE=infinity
LimitMEMLOCK=infinity
Restart=on-failure

[Install]
WantedBy=multi-user.target

