{
  "authentication": {
    "blockUnknown": true,
    "class": "solr.BasicAuthPlugin",
    "credentials": {
      "{{COMPUTATE_SOLR_SOLRJ_USER}}": "{{ COMPUTATE_SOLR_HASH }}"
    },
    "realm": "Solr users",
    "forwardCredentials": false
  },
  "authorization": {
    "class": "solr.RuleBasedAuthorizationPlugin",
    "permissions": [
      {
        "name": "security-edit",
        "role": "admin"
      }
    ],
    "user-role": {
      "{{COMPUTATE_SOLR_SOLRJ_USER}}": "admin"
    }
  }
}

